<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/JS/Backstage/LN/Award.js"></script>
<script src="~/JS/Backstage/LN/AwardRecord.js"></script>
@{
    ViewBag.Title = "AwardIndex";
}

<h2>AwardIndex</h2>

