@{
    ViewBag.Title = "作品集";
}
<link href="~/Content/workcollection.css" rel="stylesheet" />
   <div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px; ">
    <div class="col-md-4">
        <div class="container-fluid worktitle">人間風景</div>
        <div class="container-fluid workmember">洪根深</div>
        <div class="workpic circle" style="background-image:url('../Image/works/w1.png');"></div>
    </div>

    <div class="col-md-4">
        <div class="container-fluid worktitle">人間風景</div>
        <div class="container-fluid workmember">洪根深</div>
        <div class="workpic circle" style="background-image:url('../Image/works/w1.png');"></div>
    </div>

    <div class="col-md-4">
        <div class="container-fluid worktitle">人間風景</div>
        <div class="container-fluid workmember">洪根深</div>
        <div class="workpic circle" style="background-image:url('../Image/works/w1.png');"></div>
    </div>
</div>

