<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/JS/Backstage/EX/Exhibition.js"></script>
<script src="~/JS/Backstage/EX/ExhibitionRecord.js"></script>
@{
    ViewBag.Title = "ExhibitionIndex";
}

<h2>ExhibitionIndex</h2>

