@{
    ViewBag.Title = "學會沿革";
}
<script src="~/Scripts/AA/AssociationHistory.js"></script>
    <div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px; ">
        <div class="container-fluid" style="padding-bottom: 20px; ">
            <div class="col-md-5">
                <img src="~/Image/AA/history.jpg" width="100%">
            </div>

            <div class="col-md-7">
                <div class="col-md-8 "></div>
                <div class="col-md-4 ruletitle"><h1>本會之任務</h1></div>

                <div class="col-md-12 rule">
                    <h4>
                        本會之任務：<br>
                        1. 團結高市及國內外現代畫家及其團體，促進了解。<br>
                        2. 舉辦現代畫展，以提高現代畫創作水準。<br>
                        3. 聯繫國內外現代畫家，促進國際間之藝術交流。<br>
                        4. 介紹有關現代畫之新觀念及藝術問題之學術性研討。<br>
                        5. 編印藝術性刊物，以提高現代畫之研究及欣賞水準。<br>
                        6. 協助政府辦理有關畫展事項。<br>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-12 ">
            <div class="col-md-4"></div>
            <div class="container-fluid col-md-4 " id="main">
                <li class="pagination-item"><a href="#">1</a></li>
                <li class="pagination-item selected"><a href="#">2</a></li>
                <li class="pagination-item"><a href="#">3</a></li>
                <li class="pagination-item"><a href="#">4</a></li>
            </div>
        </div>
    </div>

