@{
    ViewBag.Title = "得獎事蹟";
}
<link href="~/Content/LN/prize.css" rel="stylesheet" />
    <div class="container p150">
        <div class="col-md-4">
            <div class="thumbnail p00">
                <div>
                    <img src="~/Image/prize1.png" height="173" width="258">
                    <div class="zoom"></div>
                </div>
                <div class="caption p00" style=" padding-right: 0px; padding-left: 0px; ">
                    <div style="color:red; text-align:right; "><h3>賀！</h3></div>
                    <p class="hodetail">
                        高雄現代畫學會<br>獲得最佳現代畫學會殊榮
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail p00">
                <div>
                    <img src="~/Image/prize2.png" height="173" width="258">
                    <div class="zoom"></div>
                </div>
                <div class="caption p00" style=" padding-right: 0px; padding-left: 0px; ">
                    <div style="color:red; text-align:right; "><h3>賀！</h3></div>
                    <p class="hodetail">
                        洪根深老師<br>獲得最佳設計獎
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail p00">
                <div>
                    <img src="~/Image/prize3.png" height="173" width="258">
                    <div class="zoom"></div>
                </div>
                <div class="caption p00" style=" padding-right: 0px; padding-left: 0px; ">
                    <div style="color:red; text-align:right; "><h3>賀！</h3></div>
                    <p class="hodetail">
                        現代畫學會<br>獲得全球藝術獎
                    </p>

                </div>
            </div>
        </div>
    </div>
