@{
    ViewBag.Title = "展覽快訊";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="~/Content/EX/exhibition.css" rel="stylesheet" />
<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo">
    
<div class="p150 container">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <div class="thumbnail p00" onclick="window.location='http://google.com';">
                <div class="overlay"><p class="entypo-export"></p></div>
                <div><img src="~/Image/EX/ex1.png" height="207" width="260" alt=""></div>
                <div class="caption p00 inside">
                    <h3>情色畫展</h3>
                    <p class="detail">我們要站出來為色情證明，有色有情就是藝術的生命。</p>
                    <div class="date">2014.12.14 - 2013.01.22</div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <div class="thumbnail p00" onclick="window.location='http://google.com';">
                <div class="overlay"><p class="entypo-export"></p></div>
                <div><img src="~/Image/EX/ex2.png"></div>
                <div class="caption p00 inside">
                    <h3>浪漫華彩</h3>
                    <p class="detail">成立於2008年、位於高雄市區貿易大樓的揚品文化，六年以來一直以默默耕耘的精神推辦展覽。</p>
                    <div class="date">2014.12.14 - 2013.01.22</div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
