@{
    ViewBag.Title = "學會畫家";
}
    <div class="p150 container">

        <div class="col-md-2 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('../Image/Artist/AboutArtists.png');"></div>
        </div>


        <div class="col-md-2 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('../Image/Artist/1.jpg');">
                <a href="#">
                    <div class="pictitle">爭鮮</div>
                    <div class="image-overlay"></div>
                    <div class="portfolio-zoom">
                        <h4>爭鮮回轉壽司</h4>
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        找不到一句　適合的話對你述說
                        接受我　接受我　接受我　從今以後
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        真想要找一句　會讓你心動的話語
                        讓你接受我　接受我　接受我　請你答應我
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                    </div>
                </a>
            </div>
        </div>


        <div class="col-md-2 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('../Image/Artist/2.jpg');">
                <a href="#">
                    <div class="pictitle">爭鮮</div>
                    <div class="image-overlay"></div>
                    <div class="portfolio-zoom">
                        <h4>爭鮮回轉壽司</h4>
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        找不到一句　適合的話對你述說
                        接受我　接受我　接受我　從今以後
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        真想要找一句　會讓你心動的話語
                        讓你接受我　接受我　接受我　請你答應我
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                    </div>
                </a>
            </div>
        </div>


        <div class="col-md-2 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('../Image/Artist/3.jpg');">
                <a href="#">
                    <div class="pictitle">爭鮮</div>
                    <div class="image-overlay"></div>
                    <div class="portfolio-zoom">
                        <h4>爭鮮回轉壽司</h4>
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        找不到一句　適合的話對你述說
                        接受我　接受我　接受我　從今以後
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        真想要找一句　會讓你心動的話語
                        讓你接受我　接受我　接受我　請你答應我
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                    </div>
                </a>
            </div>
        </div>


        <div class="col-md-2 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('../Image/Artist/4.jpg');">
                <a href="#">
                    <div class="pictitle">爭鮮</div>
                    <div class="image-overlay"></div>
                    <div class="portfolio-zoom">
                        <h4>爭鮮回轉壽司</h4>
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        找不到一句　適合的話對你述說
                        接受我　接受我　接受我　從今以後
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        真想要找一句　會讓你心動的話語
                        讓你接受我　接受我　接受我　請你答應我
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                    </div>
                </a>
            </div>
        </div>


        <div class="col-md-2 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('../Image/Artist/5.jpg');">
                <a href="#">
                    <div class="pictitle">爭鮮</div>
                    <div class="image-overlay"></div>
                    <div class="portfolio-zoom">
                        <h4>爭鮮回轉壽司</h4>
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        找不到一句　適合的話對你述說
                        接受我　接受我　接受我　從今以後
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        真想要找一句　會讓你心動的話語
                        讓你接受我　接受我　接受我　請你答應我
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                    </div>
                </a>
            </div>
        </div>


        <div class="col-md-2 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('../Image/Artist/6.jpg');">
                <a href="#">
                    <div class="pictitle">爭鮮</div>
                    <div class="image-overlay"></div>
                    <div class="portfolio-zoom">
                        <h4>爭鮮回轉壽司</h4>
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        找不到一句　適合的話對你述說
                        接受我　接受我　接受我　從今以後
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        真想要找一句　會讓你心動的話語
                        讓你接受我　接受我　接受我　請你答應我
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                    </div>
                </a>
            </div>
        </div>


        <div class="col-md-2 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('../Image/Artist/7.jpg');">
                <a href="#">
                    <div class="pictitle">爭鮮</div>
                    <div class="image-overlay"></div>
                    <div class="portfolio-zoom">
                        <h4>爭鮮回轉壽司</h4>
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        找不到一句　適合的話對你述說
                        接受我　接受我　接受我　從今以後
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        真想要找一句　會讓你心動的話語
                        讓你接受我　接受我　接受我　請你答應我
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-2 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('../Image/Artist/8.jpg');">
                <a href="#">
                    <div class="pictitle">爭鮮</div>
                    <div class="image-overlay"></div>
                    <div class="portfolio-zoom">
                        <h4>爭鮮回轉壽司</h4>
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        找不到一句　適合的話對你述說
                        接受我　接受我　接受我　從今以後
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        真想要找一句　會讓你心動的話語
                        讓你接受我　接受我　接受我　請你答應我
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-2 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('../Image/Artist/9.jpg');">
                <a href="#">
                    <div class="pictitle">爭鮮</div>
                    <div class="image-overlay"></div>
                    <div class="portfolio-zoom">
                        <h4>爭鮮回轉壽司</h4>
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        找不到一句　適合的話對你述說
                        接受我　接受我　接受我　從今以後
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        真想要找一句　會讓你心動的話語
                        讓你接受我　接受我　接受我　請你答應我
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-2 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('../Image/Artist/0.jpg');">
                <a href="#">
                    <div class="pictitle">爭鮮</div>
                    <div class="image-overlay"></div>
                    <div class="portfolio-zoom">
                        <h4>爭鮮回轉壽司</h4>
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        找不到一句　適合的話對你述說
                        接受我　接受我　接受我　從今以後
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        真想要找一句　會讓你心動的話語
                        讓你接受我　接受我　接受我　請你答應我
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-2 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('../Image/Artist/11.jpg');">
                <a href="#">
                    <div class="pictitle">爭鮮</div>
                    <div class="image-overlay"></div>
                    <div class="portfolio-zoom">
                        <h4>爭鮮回轉壽司</h4>
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        找不到一句　適合的話對你述說
                        接受我　接受我　接受我　從今以後
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                        真想要找一句　會讓你心動的話語
                        讓你接受我　接受我　接受我　請你答應我
                        哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                    </div>
                </a>
            </div>
        </div>
    </div>
